.footer {
  position: relative;
  padding-bottom: clamp(4rem, 20vw, 12rem);
  background-color: $brand-color5;
  color: $brand-color1;

  background-image: url(/static/img/theme/footer-bottom.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;

  &::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: block;

    aspect-ratio: 1584 / 795;
    width: 100%;

    background-image: url(/static/img/theme/footer-top.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  p,
  a,
  small {
    color: $brand-color1;
  }

  .legal {
    display: block;
  }
}

.footer-logo {
  display: block;
  margin: 0 auto 1.5em;
  width: 140px;

  svg {
    max-width: 100%;
    height: auto;
  }

  path {
    fill: $white;
  }
}

.footer-nav {
  margin: 0;
  padding: 0;

  font-size: rem-calc(24);
  font-weight: bold;
  list-style: none;

  a {
    display: block;
    padding: 0.25em 0.5em;
    color: $white;
  }

  @include breakpoint(medium) {
    text-align: center;

    li {
      display: inline-block;
      vertical-align: baseline;
    }
  }
}

.footer .social-icons {
  text-align: center;
}
