.button {
  background-color: $brand-color3;

  -webkit-mask-image: url(/static/img/theme/button.svg);
  mask-image: url(/static/img/theme/button.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;

  font-weight: $global-weight-bold;
  text-decoration: none;
  color: $white;

  &:hover {
    background-color: darken($brand-color3, 15%);
  }
}

.button.hollow {
  -webkit-mask-image: none;
  mask-image: none;

  background-image: url(/static/img/theme/button-hollow.svg);
  background-repeat: no-repeat;
  background-size: cover;

  color: $brand-color2;

  &:hover {
    border-color: transparent;
    background-image: url(/static/img/theme/button-hollow-hover.svg);
    color: $white;
  }
}
