# These owners will be the default owners for everything in the repo.
*                           @drewbrew @adamfast @jefftriplett  # add your name here...

# These owners will be the default page owners based on their role.
# _organizers/*               @
