<h1>Logo files</h1>
<p><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023.zip">Download all brand files</a></p>
<div class="row logo-set-wrap">
  <section class="logo-set column small-6">
    <img src="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/full-logo/full-color.svg" alt="2023 DjangoCon dot US Durham">
    <ul class="download-links">

      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/full-logo/full-color.svg" download>full-color.svg</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/full-logo/full-color.pdf" download>full-color.pdf</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/full-logo/full-color.png" download>full-color.png</a></li>

      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/full-logo/black.svg" download>black.svg</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/full-logo/black.pdf" download>black.pdf</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/full-logo/black.png" download>black.png</a></li>


      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/full-logo/white.svg" download>white.svg</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/full-logo/white.png" download>white.png</a></li>

      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/full-logo/dark.svg" download>dark.svg</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/full-logo/dark.pdf" download>dark.pdf</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/full-logo/dark.png" download>dark.png</a></li>

      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/full-logo/light.svg" download>light.svg</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/full-logo/light.pdf" download>light.pdf</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/full-logo/light.png" download>light.png</a></li>
    </ul>
  </section>
  <section class="logo-set column small-6">
    <img src="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/submark/sub-full-color.svg" alt="DC US | 23">
    <ul class="download-links">

      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/submark/sub-full-color.svg" download>sub-full-color.svg</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/submark/sub-full-color.pdf" download>sub-full-color.pdf</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/submark/sub-png/full-color.png" download>sub-full-color.png</a></li>

      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/submark/sub-black.svg" download>sub-black.svg</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/submark/sub-black.pdf" download>sub-black.pdf</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/submark/sub-black.png" download>sub-black.png</a></li>

      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/submark/sub-white.svg" download>sub-white.svg</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/submark/sub-white.png" download>sub-white.png</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/submark/sub-white.pdf" download>sub-white.pdf</a></li>

      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/submark/sub-dark.svg" download>sub-dark.svg</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/submark/sub-dark.png" download>sub-dark.png</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/submark/sub-dark.pdf" download>sub-dark.pdf</a></li>

      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/submark/sub-light.svg" download>sub-light.svg</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/submark/sub-light.pdf" download>sub-light.pdf</a></li>
      <li><a href="https://raw.githubusercontent.com/djangocon/resources/main/us-2023/logos/submark/sub-light.png" download>sub-light.png</a></li>

    </ul>
  </section>
</div>
