- [ ] YouTube Premiere time set: {{ post.date | date: "%b %d %l:%M %p %Z" }}
- [ ] Did the link above open the correct video?
- [ ] Set title from this page
- [ ] Set description from this page
- [ ] Is it on the DjangoCon US 2023 Playlist?
- [ ] Set to "not made for kids"
- [ ] Set as "contains paid promotion"
- [ ] Language set appropriately
- [ ] Caption certification "has never aired on television"
- [ ] Verify license is correct (YouTube Standard)
- [ ] Allow embedding enabled
- [ ] Publish to feed and notify subscribers enabled
- [ ] Category: Education
- [ ] Comments disabled
- [ ] "show how many viewers like and dislike this video" disabled
- [ ] English captions uploaded
