.home-hero {
  position: relative;
  margin: 80px auto 0;

  .row {
    padding: 2.5rem 1.5rem;
  }

  h1 {
    margin-bottom: 2.25rem;
    font-size: 1.6rem;
  }

  h1 strong {
    color: #ED8F6F;
  }

  .event-info-detail {
    margin-bottom: 1.5rem;
    color: $brand-color5;
  }

  .button + .button {
    margin-left: .5rem;
  }
}

@include breakpoint(medium) {
  .home-hero {
    h1 {
      font-size: 2rem;
    }

    .row {
      background-image:
        url(/static/img/theme/hero-lemur.svg);

      background-repeat:
        no-repeat;

      background-size:
        auto 100%;

      background-position:
        right -12.25vw center;
    }

    .header-text {
      max-width: 26rem;
    }
  }
}

@include breakpoint(large) {
  .home-hero {
    margin-top: 0;

    .row {
      background-image:
       url(/static/img/theme/hero-lemur.svg),
       url(/static/img/theme/hero-map.svg);

      background-repeat:
       no-repeat,
       no-repeat;

     background-size:
       auto 100%,
       auto 100%;

      background-position:
        right 10% center,
        right -23vw center
    }
  }
}

@include breakpoint(xlarge) {
  .home-hero {
    .row {
      background-position:
        right 28% center,
        right -32% center;
    }
  }
}
