.speaker-template {
  position: relative;
  padding: 30px 30px 0 30px;
  width: 1200px;
  height: 630px;

  background-color: #F4E9DC;
  background-image: url(/static/img/theme/speaker-card/speaker-card-bg.svg);
  background-position: top right;
  background-size: 50% 100%;
  background-repeat: no-repeat;

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.speaker-template::after {
  display: block;

  position: absolute;
  top: 0;
  right: 0;

  z-index: 1;

  width: 436px;
  height: 164px;

  background-image: url(/static/img/theme/speaker-card/banner.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.speaker-template-name,
.speaker-template-session-title {
  max-width: 600px;
}

.speaker-template-name {
  position: relative;
  font-size: 3rem;
  font-weight: $global-weight-bold;
  color: $brand-color1;
}

.speaker-template-name::after {
  display: block;
  position: relative;

  margin: .5rem 0 1rem;

  width: 36%;
  height: 26px;

  background-image: url(/static/img/theme/speaker-card/line.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;

  content: "";
}

.speaker-template-session-title {
  font-size: 2.5rem;
  font-weight: $global-weight-normal;
  color: #150944;
  line-height: 1.2;

  & + & {
    margin-top: 2rem;
  }
}

.speaker-template-photo {
  position: absolute;
  right: 30px;
  top: 40px;

  z-index: 0;

  -webkit-mask-image: url(/static/img/theme/speaker-card/speaker-mask.svg);
  mask-image: url(/static/img/theme/speaker-card/speaker-mask.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;

  width: 414px;
  height: 414px;
  object-fit: contain;
}

