.speaker-template {
  position: relative;
  padding: 70px 30px 0 500px;
  width: 1200px;
  height: 630px;

  background-color: $brand-color2;
  background-image: url(/static/img/speaker-template-bg.svg);
  background-repeat: no-repeat;
  

  text-align: right;
  color: $white;

  overflow: hidden;

  &-photo {
    position: absolute;
    top: -10px;
    left: -40px;
    border-radius: 0 50% 50% 0;
    width: 610px;
  }

  &-name {
    position: relative;
    margin-bottom: 0;
    font-size: 3.0rem;
  }

  &-name:after {
    position: relative;
    display: block;
    margin: 10px 0 10px auto;
    height: 10px;
    width: 120px;
    background: #290724;
    content: "";
  }

  &-session-title {
    font-family: $body-font-family;
    font-size: 2.3rem;
  }

  &:after {
    position: absolute;
    bottom: -180px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url(/static/img/hero-curve.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
  }
}
