<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body class="{{ page.layout }}-page">

    <div class="speaker-template">
      {% if page.photo_url != blank %}
        <img
          src="{{ page.photo_url }}"
          width="420"
          alt="{{ page.name }}"
          class="speaker-template-photo" />
      {% endif %}

      <h1 class="speaker-template-name">{{ page.name }}</h1>

      {% assign presentations = site.schedule | where: "presenter_slugs", page.slug %}

      {% if page.override_schedule_title %}
        <h2 class="speaker-template-session-title">{{ page.override_schedule_title }}</h2>
      {% else %}
        {% assign unique_titles = "" | split: "," %}
        {% for schedule in presentations %}
          {% unless unique_titles contains schedule.title %}
            <h2 class="speaker-template-session-title">{{ schedule.title }}</h2>
            {% assign unique_titles = unique_titles | push: schedule.title %}
          {% endunless %}
        {% endfor %}
      {% endif %}
    </div>

  </body>
</html>
